@import "styles/colors.scss";

.list {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 40px;
  margin: 50px 0;

  &__box {
    background-color: $primary_background_second;
    min-height: 70px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
    transition: all 0.3s ease;
    margin: 20px 0;
    
    &:hover {
      background-color: $primary_second;
      color: $primary_background_second;
      cursor: pointer;
      
      svg {
        transform: translateX(5px);
      }
    }

    h1 {
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: capitalize;
      transition: all 0.3s ease;
    }

    svg {
      width: 20px;
      height: 20px;
      margin-top: 5px;
      transition: all 0.3s ease;
    }
  }
}