@import "styles/colors.scss";

.socials {
  
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
    li {
      
      a {
        font-size: 1.5rem;
        color: $primary_font;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          color: $primary_second;
        }
      }
    }
  }
}