@import "styles/colors.scss";

.bar {
    height: 70px;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    
    span {
        color: $primary_second;
    }
    
    ul {
        
        li {
            display: inline-block;
            margin: 0 10px;
            
            a {
                font-size: 1.2rem;
                font-weight: 700;
                color: $primary_font;
                cursor: pointer;
                transition: all 0.3s ease;
                
                text-decoration: none;

                &:hover {
                    color: $primary_second;
                }
            }
        }
    }
    
    h3 {
        width: 100px;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.5rem;
        font-weight: 700;
        color: $primary_font;
    }
}